body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(images/love-and-passion-background-backgrounds-romantic-1-5c9b9947439b9.png);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    padding: 30px;
}
h1{
    text-align: center;
    margin: 10px 0;
}
h1 h2 {
    line-height: 1.4;
}
.bob {
    display: flex;
    justify-content: center;
    align-items: center;
}
.bib {
    background:rgba(202,97,151,0.95);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    max-width: 500px;
    width: 90%;
    text-align: center;
}

input[type="text"] {
    display: block;
    width: 80%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 16px;
}
input[type="text"], #check-btn, #go-btn {
    margin-top: 15px;
    margin-bottom: 10px;
}
#check-btn {
    display: block;
    margin: 10px auto;
    padding: 10px 30px;
    background-color: #af3d78;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}
#check-btn:hover {
    background-color: #2b7ab1;
}

#go-btn {
    display: none;
    margin: 15px auto 0 auto;
    padding: 10px 30px;
    background-color:#b84c84;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    display: block;
    font-size: 16px;
}
#go-btn {
    display: none;
    opacity: 0;
    transition: all 0.5s ease;
}
#go-btn.show {
    display: block;
    opacity: 1;
}
#go-btn:hover {
    background-color: #a84d7d;
}
.btn {
    background-color:#ba5087;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    display: block;
    text-align: center;
    cursor: pointer;
}
.btn:hover {
    background-color: #2b7ab1;
}

.heart {
    position: absolute;
    font-size: 20px;
    color: #ff69b4;
    animation: fall 5s linear infinite;
    opacity: 0.8;
}
@keyframes fall {
    0% {transform: translateY(-50px) rotate(0deg); opacity: 0.8 ;}
    50% {transform: translateY(50vh) rotate(180deg); opacity: 1 ;}
    100% {transform: translateY(100vh) rotate(360deg); opacity: 0 ;}
}